<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6-1</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div :style="bindStyle"></div>
        <p>
            <span>大きさ：</span>
            <input type="range" name="" id="" v-model="range" max="500" min="10">
        </p>
        <p>
            <span>赤：</span>
            <input type="range" name="" id="" v-model="red" max="255" min="0">
        </p>
        <p>
            <span>緑：</span>
            <input type="range" name="" id="" v-model="green" max="255" min="0">
        </p>
        <p>
            <span>青：</span>
            <input type="range" name="" id="" v-model="blue" max="255" min="0">
        </p>
        <div :style="bindBox"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>