@charset "UTF-f";

*,*::after,*::before {
    box-sizing: border-box;
}

.btn-humburger {
    width: 56px;
    height: 56px;
    background: transparent;
    position: relative;
}

.btn-humburger > div {
    position: absolute;
    width: 56px;
    height: 3px;
    transition: all .2s;
    background-color: #000;
}

.btn-humburger > div:first-child {
    top: 15px;
    left: 0;
}

.btn-humburger > div:last-child {
    bottom: 15px;
    left: 0;
}

.list-class > div:first-child {
    transform: translateY(11px) rotate(45deg);
}

.list-class > div:last-child {
    transform: translateY(-10px) rotate(-45deg);
}